openai-agents==0.6.4
httpx==0.28.1
huggingface_hub==0.36.0
langchain==1.2.0
langchain_chroma==1.1.0
langchain_classic==1.0.1
langchain_community==0.4.1
langchain_core==1.2.6
langchain_huggingface==1.2.0
langchain_mcp_adapters==0.2.1
langchain_openai==1.1.6
langchain_text_splitters==1.1.0
langgraph==1.0.5
langsmith==0.5.0
mcp==1.25.0
nest_asyncio==1.6.0
openai==2.14.0
pydantic==2.12.5
python-dotenv==1.2.1
Requests==2.32.5
setuptools==80.9.0
streamlit==1.52.2
